.input-group.datepicker .btn-default{
    height: 34px;
}
table.users .buttons{
    width: 100px;
}
.dialog-header-confirm { background-color: #333333; }
.modal{display: block}
.container .button-holder{
    margin:0 0 20px 0;
}
.container table th,.container table td{
    text-align: center;
}
.users .sort-links{
    cursor: pointer;
}
a.asc:after, a.desc:after {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
    position: relative;
    top: 1px;
}
a.asc:after {
    content: "";
}
a.desc:after {
    content: "";
}
.sort-numerical a.asc:after {
    content: "";
}
.sort-numerical a.desc:after {
    content: "";
}
.sort-ordinal a.asc:after {
    content: "";
}
.sort-ordinal a.desc:after {
    content: "";
}