<html ng-app="usersApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Управление пользователями</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="//code.angularjs.org/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.3.0/i18n/angular-locale_ru.js"></script>
    <script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/app/app.js"></script>
    <script type="text/javascript" src="/static/js/app/directives/integerDirective.js"></script>
    <script type="text/javascript" src="/static/js/app/services/usersService.js"></script>
    <script type="text/javascript" src="/static/js/app/directives/updateModelOnEnter.js"></script>
    <script type="text/javascript" src="/static/js/app/controllers/usersController.js"></script>
    <script type="text/javascript" src="/static/js/app/controllers/modalController.js"></script>
    <script type="text/javascript" src="/static/js/app/controllers/confirmDeleteController.js"></script>


</head>
<body>

<div ng-controller="usersController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ userId ? 'Изменить' : 'Добавить'}}</h3>
        </div>
        <div class="modal-body">
            <form name="user" class="form-horizontal">
                <div class="form-group" ng-class="showUserErrors(user, 'name')?'has-error error':''">
                    <label for="userForm_name" class="col-sm-2 control-label">Имя</label>
                    <div class="col-sm-10">
                        <input type="text"  name="name" class="form-control" id="userForm_name" ng-model="userForm.name" required>
                        <div ng-show="showUserErrors(user, 'name')">
                            <span class="help-block text-danger" ng-show="user.name.$error.required">Пожалуйста, введите имя пользователя</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="showUserErrors(user, 'age')?'has-error error':''">
                    <label for="userForm_age" class="col-sm-2 control-label">Возраст</label>
                    <div class="col-sm-10">
                        <input type="text" name="age" class="form-control" id="userForm_age" ng-model="userForm.age" required integer min="1">
                        <div ng-show="showUserErrors(user, 'age')">
                            <span class="help-block text-danger" ng-show="user.age.$error.required">Пожалуйста, введите возраст пользователя</span>
                            <span class="help-block text-danger" ng-show="user.age.$error.integer">Возраст пользователя должен цылым быть положительным числом</span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="isAdmin" ng-model="userForm.isAdmin" ng-true-value="1" ng-false-value="0"> Администратор
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(user)" ng-disabled="saving">Сохранить</button>
            <button class="btn btn-warning" ng-click="cancel()">Закрыть</button>
        </div>
    </script>
    <script type="text/ng-template" id="confirmDeleteContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Подвердите удаление</h3>
        </div>
        <div class="modal-body">
            Вы действительно хотите удалить пользователя?
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="saving">Да</button>
            <button class="btn btn-warning" ng-click="cancel()">Нет</button>
        </div>
    </script>
    <div class="container">
        <h2 class="page-title">Управление пользователями</h2>
        <div class="button-holder">
            <button class="btn btn-success" ng-click="open()">Добавить пользователя</button>
        </div>
        <div class="col-md-3 pull-right">
            <div class="form-group">
                <label for="items_per_page" class="col-sm-6 control-label">Записей на странице</label>
                <div class="col-sm-5">
                    <select ng-model="pageSize" id="items_per_page" ng-change="checkRefreshNeeds()" ng-options="item as item for item in pageSizeOptions track by item" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table table-responsive users">
            <tr class="sort-links">
                <th><a ng-class="getSortClass('name')" ng-click="doSort('name')">Имя</a></th>
                <th class="sort-ordinal"><a ng-class="getSortClass('age')" ng-click="doSort('age')">Возраст</a></th>
                <th class="sort-ordinal"><a ng-class="getSortClass('isAdmin')" ng-click="doSort('isAdmin')">Администратор</a></th>
                <th class="sort-ordinal"><a ng-class="getSortClass('createdDate')" ng-click="doSort('createdDate')">Дата регистрации</a></th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th><input type="text" class="form-control" ng-model-options="{ updateOn: 'blur'}" update-model-on-enter-key-pressed ng-change="refresh()" ng-model="searchUserForm.name" /></th>
                <th><input type="text" class="form-control" ng-model-options="{ updateOn: 'blur'}" update-model-on-enter-key-pressed ng-change="refresh()" ng-model="searchUserForm.age" /></th>
                <th>
                    <select ng-model="searchUserForm.isAdmin" ng-change="refresh()" ng-options="item.value as item.name for item in isAdminOptions track by item.value" class="form-control">
                    </select>
                </th>
                <th>
                    <p class="input-group datepicker">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"  ng-model="searchUserForm.createdDate" ng-change="refresh()" is-open="opened" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="user in users" class="repeat-animation">
                <td>{{ user.name}}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.isAdmin ? 'Да' : 'Нет'}}</td>
                <td>{{ user.createdDate | date:'dd MMMM yyyy HH:mm' }}</td>
                <td class="buttons center">
                    <a class="btn btn-info btn-sm" ng-click="open(user.id)"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-danger btn-sm" ng-click="deleteUser(user.id)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        </table>
        <pagination total-items="page.totalElements" ng-model="currentPage" max-size="displayPages" items-per-page="pageSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="refresh()"></pagination>
    </div>
</div>
</body>
</html>